extends ../layout

block content
	.container
		.row
			form.form-horizontal(method="post", action="/admin/movie/save")
				if movie._id
					input(type="hidden", name="movie[id]", value=movie._id)
				.form-group
					label.col-sm-3.control-label(for="doubanMovie") 豆瓣电影导入
					.col-sm-9
						input#doubanMovie.form-control(type="text", placeholder="在此输入豆瓣网电影ID")
				.form-group
					label.col-sm-3.control-label(for="inputCategory") 电影分类
					.col-sm-9#genreOptions
						each category in categories
							label.radio-inline
								//- 修改
								if movie._id
									input(type="radio", name="movie[category]", value=category._id)
									|#{category.name}
								else
									input(type="radio", name="movie[category]", value=category._id)
									|#{category.name}
				.form-group
					lable.col-sm-3.control-label(for="inputTitle") 电影名字
					.col-sm-9
						input#inputTitle.form-control(type="text", name="movie[title]", value=movie.title)
				.form-group
					lable.col-sm-3.control-label(for="inputDocotor") 导演
					.col-sm-9
						input#inputDocotor.form-control(type="text", name="movie[doctor]", value=movie.doctor)
				.form-group
					lable.col-sm-3.control-label(for="inputCountry") 国家
					.col-sm-9
						input#inputCountry.form-control(type="text", name="movie[country]", value=movie.country)
				.form-group
					lable.col-sm-3.control-label(for="inputLanguage") 语种
					.col-sm-9
						input#inputLanguage.form-control(type="text", name="movie[language]", value=movie.language)
				.form-group
					lable.col-sm-3.control-label(for="inputPoster") 海报地址
					.col-sm-9
						input#inputPoster.form-control(type="text", name="movie[poster]", value=movie.poster)
				.form-group
					lable.col-sm-3.control-label(for="inputFalsh") 片源地址
					.col-sm-9
						input#inputFalsh.form-control(type="text", name="movie[flash]", value=movie.flash)
				.form-group
					lable.col-sm-3.control-label(for="inputYear") 上映年份
					.col-sm-9
						input#inputYear.form-control(type="text", name="movie[year]", value=movie.year)
				.form-group
					label.col-sm-3.control-label(for="inputSummary") 简介
					.col-sm-9
						input#inputSummary.form-control(type="text", name="movie[summary]", value=movie.summary)
				.form-group
					.col-sm-3
					.col-sm-9
						input.btn.btn-primary.btn-lg(type="submit", value="提交")
	script(type="text/javascript", src="/js/admin.js")