extends ../layout

block content
	.container
		.row
			.col-md-7
				embed(src="#{movie.flash}", allowFullScreen="true", quality="high", width="100%", align="middle", type="application/x-shockwave-flash")
				.panel.panel-default
					.panel-heading
						h3 评论区
					.panel-body
						ul.media-list
							li.media
								a.media-left(href="#")
									img.media-object(src="http://img.mukewang.com/57a4bc1c0001e0cd11320640-100-100.jpg", style="width:64px;height:64px;")
								.media-body
									h4.media-heading 醉生梦死
									p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
									.media
										a.media-left(href="#")
											img.media-object(src="http://img.mukewang.com/57a4bc1c0001e0cd11320640-100-100.jpg", style="width:64px;height:64px;")
										.media-body
											h4.media-heading 独孤依人
											p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
											.media
												a.media-left(href="#")
													img.media-object(src="http://img.mukewang.com/57a4bc1c0001e0cd11320640-100-100.jpg", style="width:64px;height:64px;")
												.media-body
													h4.media-heading 独孤依人
													p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
									.media
										a.media-left(href="#")
											img.media-object(src="http://img.mukewang.com/57a4bc1c0001e0cd11320640-100-100.jpg", style="width:64px;height:64px;")
										.media-body
											h4.media-heading 独孤依人
											p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
							hr
							li.media
								a.media-left(href="#")
									img.media-object(src="http://img.mukewang.com/57a4bc1c0001e0cd11320640-100-100.jpg", style="width:64px;height:64px;")
								.media-body
									h4.media-heading 醉生梦死
									p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
									.media
										a.media-left(href="#")
											img.media-object(src="http://img.mukewang.com/57a4bc1c0001e0cd11320640-100-100.jpg", style="width:64px;height:64px;")
										.media-body
											h4.media-heading 独孤依人
											p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
					.panel-footer
						form(method="post", action="#")
							.form-group
								textarea.form-control(placeholder="在此输入你想说的话！！！", rows="3")
							.form-group
								input.btn.btn-info(type="submit", value=" 提 交 ")
			.col-md-5
				dl.dl-horizontal
					dt 电影名
					dd #{movie.title}
					dt 导演
					dd=movie.doctor
					dt 国家
					dd #{movie.country}
					dt 语言
					dd #{movie.language}
					dt 上映年份
					dd #{movie.year}
					dt 简介
					dd #{movie.summary}